.registered_table
{
  margin:50px auto;
  padding-inline: 20px;
}
::ng-deep .registered_table.ant-table-column-title {
   position: relative;
   z-index: 1;
   flex: 1;
   text-align: center;
}
::ng-deep .registered_table .ant-table-tbody > tr > td {
 text-align: center !important;
}
::ng-deep .registered_table .ant-pagination ul{
    margin: 0;
    padding: 0;
    list-style: none;
    direction: ltr !important;
}
::ng-deep  .cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  direction: ltr !important;

}
::ng-deep nz-filter-trigger {
  display: inline-flex;
  margin-inline: 12px !important;
}
::ng-deep .cdk-overlay-connected-position-bounding-box .ant-dropdown
{
  left: 100px !important;
}

::ng-deep .ant-modal-close {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  z-index: 10;
  padding: 0;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}
::ng-deep .ant-upload.ant-upload-drag {
 height: auto !important;
}

::ng-deep .ant-modal-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  direction: rtl !important;
}
