/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Source+Sans+3:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  box-sizing: border-box;
  // font-family: "Open Sans", sans-serif;
  // font-family: "Red Hat Display", sans-serif;
  // font-family: "Source Sans 3", sans-serif;
  // font-family: "Space Grotesk", sans-serif;
}

* {
  font-family: "Cairo", sans-serif !important;
  margin: 0;
  padding: 0;
  // direction: rtl !important;
}
img {
  display: inline-block !important;
}


::-webkit-scrollbar {
  height: 5px;
  width: 5px; /* Set the width of the scrollbar */
  background-color: #F5F5F5; /* Set the background color of the scrollbar */
  position: absolute !important;
  direction: ltr !important;
  left: 0 !important; /* Position the scrollbar on the right of the element*/
}
::-webkit-scrollbar-thumb {
  background-color: #919191; /* Set the color of the thumb */

}
::-webkit-scrollbar-track {
  // background: red;
  border-radius: 5px;
  position: absolute !important;
  direction: ltr !important;
  left: 0 !important;
}
// html
// {
//   direction: rtl !important;

// }
// span {
//   direction: rtl !important;
// }
